@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #f1f1f1;
}

header {
  background-color: #191919;
  min-height: 80vh;
}

nav {
  background-color: #191919;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  max-width: 1100px;
  margin: 0 auto;
  border-bottom: 1px solid #474747;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: #fff;
  padding: 0 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 500ms ease;
}

nav ul li a:hover {
  color: #d77344;
}

nav #cart {
  cursor: pointer;
}

.active {
  color: #d77344;
}

.hero {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.hero h3 {
  text-transform: uppercase;
  color: #808080;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

.hero h1 {
  font-size: 4rem;
  max-width: 500px;
  line-height: 70px;
}

.hero p {
  font-size: 1.2rem;
  max-width: 500px;
  padding: 35px 0;
  color: #808080;
}

.hero button {
  background-color: #d77344;
  color: #f1f1f1;
  padding: 15px 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
}

.hero button:hover {
  background: none;
  border: 2px solid #d77344;
}

.hero img {
  width: 500px;
}

.recommend {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 7rem 0;
  text-align: center;
}

.recommend img {
  height: 130px;
}

.recommend h2 {
  padding-bottom: 15px;
  text-transform: uppercase;
}

.recommend button {
  background: none;
  color: #808080;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
}

.recommend button:hover {
  color: #d77344;
}

.recommend button::after {
  content: "»";
  font-size: 1.5rem;
  color: #d77344;
  padding-left: 10px;
  cursor: pointer;
}

.collage {
  max-width: 1100px;
  margin: 0 auto 5rem auto;
}

.collage .first {
  background: #d77344 url("./images/pattern-circles.svg") left no-repeat;
  background-size: 100%;
  background-position: -15rem -10rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  padding-top: 120px;
  border-radius: 10px;
}

.collage .first img {
  height: 510px;
  margin-bottom: -1rem;
}

.collage .first h1 {
  font-size: 4rem;
  color: #fff;
  max-width: 500px;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.collage .first p {
  max-width: 350px;
  padding: 30px 0;
  color: #fff;
}

.collage .first button {
  background-color: #191919;
  color: #fff;
  padding: 15px 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
}

.collage .first button:hover {
  background: none;
  border: 2px solid #191919;
}

.collage .second {
  background: #808080 url("./images/image-speaker-zx7.jpg");
  padding: 90px;
  margin: 3rem 0;
  border-radius: 10px;
}

.collage .second h1 {
  font-size: 2rem;
  padding: 15px 0;
}

.collage .second button {
  background: none;
  padding: 15px 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  border: none;
  cursor: pointer;
  border: 2px solid #252525;
  transition: all 500ms ease;
}

.collage .second button:hover {
  background: #191919;
  color: #fff;
}

.collage .third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0 150px 0 0;
}

.collage .third h1 {
  font-size: 2rem;
}

.collage .third button {
  background: none;
  padding: 15px 30px;
  margin: 2rem 0;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  border: none;
  cursor: pointer;
  border: 2px solid #252525;
  transition: all 500ms ease;
}

.collage .third button:hover {
  background: #191919;
  color: #fff;
}

.collage .third img {
  border-radius: 10px;
}

.about {
  max-width: 1100px;
  margin: 0 auto 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.about h1 {
  font-size: 2.8rem;
  line-height: 55px;
  text-transform: uppercase;
  padding: 25px 0;
}

.about h1 span {
  color: #d77344;
}

.about p {
  max-width: 500px;
  color: #808080;
}

.about img {
  border-radius: 10px;
}

footer {
  background: #191919;
  color: #fff;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

footer img {
  border-top: 5px solid #d77344;
  padding-top: 80px;
}

footer p {
  max-width: 600px;
  padding: 35px 0;
  color: #808080;
  line-height: 30px;
}

footer a {
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

footer .links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  min-height: 30vh;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

footer ul li a {
  padding: 0 10px;
  cursor: pointer;
  transition: all 500ms ease;
}

footer ul li a:hover {
  color: #d77344;
}

footer .pages li a {
  font-size: 0.8rem;
}

footer .socials li {
  font-size: 2rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
}

.error .backHome {
  margin: 1rem 0;
  background-color: #d77344;
  color: #f1f1f1;
  font-size: 2rem;
  text-decoration: none;
  padding: 15px 20px;
  transition: all 500ms ease;
}

.error .backHome:hover {
  background-color: #f1f1f1;
  color: #d77344;
  border: 2px solid #252525;
}

#title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #191919;
  padding: 70px 0;
}

.products {
  max-width: 1100px;
  margin: 0 auto;
}

.products img {
  height: 500px;
}

#imgSpeaker {
  height: 500px;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 50px 80px;
}

.products > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.products h3 {
  color: #d77344;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 500;
}

.products h1 {
  font-size: 3rem;
  line-height: 50px;
  padding: 20px 0;
}

.products p {
  opacity: 0.7;
  max-width: 480px;
  padding: 20px 0;
}

.products button {
  background-color: #d77344;
  color: #f1f1f1;
  padding: 15px 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
}

.products button:hover {
  background: none;
  border: 2px solid #d77344;
  color: #191919;
}
